<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        html,
        body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        #map {
            width: 70%;
            height: 100%;
            left: 30%;
        }

        #results {
            width: 30%;
            border: 3px;
            position: absolute;
            right: 5px;
            top: 5px;
            bottom: 5px;
            left: 0%;
            margin-left: 25px;
        }

        .rowSelected {
            background-color:#b6dcfd;
        }

    </style>
</head>

<body>
    <div id="map"></div>

    <script>
        let startLat;
        let startLng;
        let endLat;
        let endLng;

        function drawLine(startLat, startLng, endLat, endLng, color) {
            polyline = L.polyline([[startLat, startLng], [endLat, endLng]], { color });
            return polyline;
        }

        // Initialize Leaflet .
        let map = L.map('map').setView({ lon: 5.7517, lat: 45.1846 }, 13);

        // Add the OpenStreetMap tiles.
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(map);

        // Show the scale bar on the lower left corner.
        L.control.scale().addTo(map);

        // Draw the trajectory searched.
        startLat = Number('<%= startLat %>');
        startLng = Number('<%= startLng %>');
        endLat = Number('<%= endLat %>');
        endLng = Number('<%= endLng %>');

        let startMarker = L.marker([startLat, startLng]);
        startMarker.addTo(map);
        let endMarker = L.marker([endLat, endLng]);
        endMarker.addTo(map);

        let userLine = drawLine(startLat, startLng, endLat, endLng, 'red');
        userLine.addTo(map);

        // The mentor trajectories.
        let trajectories = {};
        let mentors = {};
        let startMarkers = {};
        let endMarkers = {};
        let selectedLine = null;
        let selectedStartMarker = null;
        let selectedEndMarker = null;

    </script>

    <div id="results">
        <h4>Mentors les plus proches</h4>
        
        <br/>
        
        <table id="mentors" class="table w-75">
            <thead>
                <tr>
                    <th>Mentor</th>
                    <th>Distance</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < result.length; i++) { %>
                <tr id='row-<%= i %>'>
                    <td><%= result[i].pseudo %></td>
                    <td><%= result[i].score.toFixed(2) %></td>
                    <script>
                        // We could instead iterate on the table dynamically with hidden fields.
                        startLat = Number('<%= result[i].start[1] %>');
                        startLng = Number('<%= result[i].start[0] %>');
                        endLat = Number('<%= result[i].end[1] %>');
                        endLng = Number('<%= result[i].end[0] %>');
                        trajectories['row-<%= i %>'] = drawLine(startLat, startLng, endLat, endLng, '#0088ff');
                        startMarkers['row-<%= i %>'] = L.marker([startLat, startLng]);
                        endMarkers['row-<%= i %>'] = L.marker([endLat, endLng]);
                        mentors['row-<%= i %>'] = { id: '<%= result[i]._id["$oid"] %>', pseudo: '<%= result[i].pseudo %>'};
                    </script>
                </tr>
                <% } %>

            </tbody>
        </table>

        <p>Cliquer sur une ligne de la table pour voir un autre Mentor</p>

        <br/>
        <br/>

        <form action="/contact_mentor" method="post">

            <input type="hidden" id="mentorId" name="mentorId" value="" />
            <input type="hidden" id="mentorPseudo" name="mentorPseudo" value="" />

            <button type="submit" class="btn btn-lg btn-block btn-outline-primary align-self-end w-75">Contacter le Mentor</button>
        </form>

        <br/>
        <br/>

        <form action="/refind_mentor" method="post">

            <input type="hidden" name="startLat" value="<%= startLat %>" />
            <input type="hidden" name="startLng" value="<%= startLng %>" />
            <input type="hidden" name="endLat" value="<%= endLat %>" />
            <input type="hidden" name="endLng" value="<%= endLng %>" />

            <button type="submit" class="btn btn-lg btn-block btn-outline-primary align-self-end w-75">Trouver un Mentor</button>
        </form>

        <br/>
        <br/>

        <form action="/" method="get">
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary align-self-end w-75">Retour à l'accueil</button>
        </form>

        <script>
            let table = document.getElementById("mentors"),
                rows = table.getElementsByTagName("tr");

            // Table callback.
            function onRowClick(tableId, callback) {
                let i;
                // The first row is the header.
                for (i = 1; i < rows.length; i++) {
                    table.rows[i].onclick = function (row) {
                        return function () {
                            callback(row);
                        };
                    }(table.rows[i]);
                }
            };
            
            function selectMentor(row) {

                if (selectedLine != null) {
                    map.removeLayer(selectedLine);
                }
                if (selectedStartMarker != null) {
                    map.removeLayer(selectedStartMarker);
                }
                if (selectedEndMarker != null) {
                    map.removeLayer(selectedEndMarker);
                }

                row.className += " rowSelected";
                selectedLine = trajectories[row.id];
                selectedLine.addTo(map);

                selectedStartMarker = startMarkers[row.id];
                selectedStartMarker.addTo(map);

                selectedEndMarker = endMarkers[row.id];
                selectedEndMarker.addTo(map);

                let mentorId = document.getElementById('mentorId');
                mentorId.value = mentors[row.id].id;
                mentorPseudo.value = mentors[row.id].pseudo;
            }

            onRowClick("mentors", function (row) {

                // The first row is the header.
                for (let i = 1; i < rows.length; i++) {
                    rows[i].classList.remove('rowSelected');
                }

                selectMentor(row);
            });

            // Select the first mentor.
            if (rows.length > 0) {
                selectMentor(rows[1]);
            }

        </script>
    </div>
</body>

</html>