<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <style>
        html,
        body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        #map {
            width: 80%;
            height: 100%;
            left: 20%;
        }

        #form {
            width: 20%;
            border: 3px;
            position: absolute;
            right: 5px;
            top: 5px;
            bottom: 5px;
            left: 0%;
            margin-left: 25px;
        }
    </style>
</head>

<body>
    <div id="map"></div>

    <script>
        let i = 0;
        let startLatLng;
        let endLatLng;
        let startMaker, endMarker;
        let polyline;

        function onMapClick(e) {

            if (i === 0) {
                startLatLng = [e.latlng.lat, e.latlng.lng];
                startMarker = L.marker(startLatLng);
                startMarker.addTo(map);

                let startLatLngText = e.latlng.lat.toFixed(5) + ', ' + e.latlng.lng.toFixed(5);

                document.getElementById('startPoint').value = startLatLngText;

                ++i;
            }
            else if (i === 1) {
                endLatLng = [e.latlng.lat, e.latlng.lng];
                endMarker = L.marker(endLatLng);
                endMarker.addTo(map);

                let endLatLngText = e.latlng.lat.toFixed(5) + ', ' + e.latlng.lng.toFixed(5);

                document.getElementById('endPoint').value = endLatLngText;

                polyline = L.polyline([startLatLng, endLatLng], { color: 'blue' });
                polyline.addTo(map);
                ++i;
            }
            else if (i === 2) {
                map.removeLayer(startMarker);
                map.removeLayer(endMarker);
                map.removeLayer(polyline);
                i = 0;
            }
        }

        // Initialize Leaflet .
        let map = L.map('map').setView({ lon: 5.7517, lat: 45.1846 }, 13);

        map.on('click', onMapClick);

        // Add the OpenStreetMap tiles.
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(map);

        // Show the scale bar on the lower left corner.
        L.control.scale().addTo(map);
    </script>

    <div id="form">
        <form action="/update_mentor" method="post">
            <h2>Mail</h2>
            <!-- Mail must be readonly -->
            <input type="text" name="mail" value="<%= mail %>" />

            <h2>Pseudo</h2>
            <input type="text" name="pseudo" value="<%= pseudo %>" />
            
            <h2>Point de départ</h2>
            <h4>Cliquer une première fois sur la carte</h4>
            <input type="text" id="startPoint" name="start" value="<%= start %>" />
            
            <h2>Point d'arrivée</h2>
            <h4>Cliquer une seconde fois sur la carte</h4>
            <input type="text" id="endPoint" name="end" value="<%= end %>" />
            
            <h4>Effacer en cliquant une troisième fois</h4>

            <br/>
            <button type="submit">Mettre à jour</button>
        </form>

        <form action="/delete_mentor" method="post">
            <input type="hidden" name="mail" value="<%= mail %>" />

            <button type="submit">Effacer</button>
        </form>
        <form action="/" method="get">
            <button type="submit">Retour à l'accueil</button>
        </form>
    </div>

</body>

</html>