<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/add_mentor" method="post">
      <h2>Pseudo</h2>
      <input type ="text" name="pseudo" value="<%= pseudo %>"/>
      <h2>Mail</h2>
      <input type ="text" name="mail" value="<%= mail %>"/>
      <h2>Adresse de départ</h2>
      <input type ="text" name="start" value="<%= start %>"/>
      <h2>Adresse d'arrivée</h2>
      <input type ="text" name="end" value="<%= end %>"/>
    
      <button type="submit">Créer</button>
    </form>

  </body>
</html>